/*
  NAME: Zerlina Lai
  DATE: 14 May 2023

  CSS stylesheet for online Set game / HW2 for CS132.
 */

body, button, select, input {
  text-align: center;
  font-size: 12pt;
  font-family: Helvetica, Verdana, sans-serif;
}

main {
  width: 80%;
  margin: auto;
}

button, select {
  padding: 8px;
  background-color: white;
  border: 2pt solid black;
}

h2 {
  text-decoration: underline;
  font-size: 16pt;
}

.hidden, .hide-imgs img {
  display: none;
}

.card, #details-bar, #board {
  display: flex;
  justify-content: space-evenly;
}

.card, #details-bar {
  align-items: center;
}

.card, #board {
  border-style: solid;
}

.card {
  width: 220px;
  height: 95px;
  border-color: black;
  border-width: 0.35em;
  border-radius: 1em;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card img {
  height: 85%;
}

.selected {
  box-shadow: 6px 6px #636363;
  
}

#start-btn {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#menu-view > article {
  background-color: #6F77ED;
  border-radius: 0.35em;
  border: 5pt solid black;
}

#menu-view > article, #details-bar p {
  color: white;
}

#details-bar {
  background-color: black;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

#details-bar p {
  font-size: 14pt;
}

#board {
  border-width: 0pt 5pt 5pt 5pt;
  flex-wrap: wrap;
  padding: 20px;
}